-content_for :sidebar do
  = link_to ClientUpdate.model_name.human, admin_clients_path, class: "list-group-item active"
  = link_to t('admin.titles.upload_new'), new_admin_client_path, class: "list-group-item"