<div id="main-content"> <!-- Main Content Section with everything -->
<%= form_for(@client_version, :html => {:multipart => true}, :url => { :action => "update"}) do |f| %>
	<%= error_messages_for @client_version %>
	<div>
		<%= I18n.t("page.admin.ver")%>: <%= @client_version.major_ver%>.<%= @client_version.minor_ver %>.<%= @client_version.tiny_ver %>
	</div>
	<div style="margin:20px 0 20px 0;">
		<%= I18n.t("page.admin.patch")%>:<%= file_field "patch", "" %>
	</div>		
	<div>
		<%= I18n.t("page.admin.full_pkg")%>:<%= file_field "full_pkg", "" %>
	</div>		
	<%= f.submit  I18n.t("page.button.update"), :class=>"btn" %>
	</div>
<% end %>
</br>
<%= link_to  I18n.t("page.button.back"), admin_client_versions_path, :class =>"button" %>
</div>
