-content_for :sidebar do
  =link_to(Account.model_name.human, admin_accounts_path, class: current_li?(%w(admin/accounts), params[:controller]))
  =link_to(AuthItem.model_name.human, admin_auth_items_path, class: current_li?(%w(admin/auth_items), params[:controller]))