-content_for :sidebar do
  =link_to(Account.model_name.human, admin_accounts_path, class: "list-group-item active")
  =link_to(AuthItem.model_name.human, admin_auth_items_path, class: "list-group-item")