-content_for :sidebar do
  = link_to t('admin.titles.admin_info'), '#', class: "list-group-item active"
  = link_to t('admin.titles.about_sonkwo'), '#', class: "list-group-item"
  = link_to t('admin.titles.my_workflow'), '#', class: "list-group-item"