<div class="up_mian_con_reply comment-detail" comment_id={{id}} nick_name="{{creator.nick_name}}">
  <div class="up_mian_con_reply_tx">
    <span class="up_mian_con_reply_tx_tx">
      <a href="/users/{{creator.id}}"><img src={{creator.avatar}} width="30" height="30"></a>
    </span>
    <span class="up_mian_con_reply_tx_id">
      <a href="/users/{{creator.id}}">{{creator.nick_name}}</a>
      {{#original_author}}
        <span>回复</span>
        <a href="/users/{{original_author.id}}">{{original_author.nick_name}}</a>
      {{/original_author}}
    </span>
    
  </div>
  <div class="up_mian_con_reply_text">
    <p>{{comment}}</p>
  </div>
  <div>
    <span class="up_mian_con_reply_tx_time">{{created_at}}</span>
    <a href="javascript:void(0)" class="comment-reply">回复</a>
  </div>
</div>
