<div class="pop-layer radius3px brd1 pop-box">
  <div class="prompt">
    <div class="writing">
      <h3>转发文章</h3>
    </div>
    <div class="prompt-bn"><a href="javascript:void(0);" class="pop-box-closebtn"></a></div>
  </div>
  <div class="area">
    <div class="area-turn">
      <p class="area-turn-h3 rs3">
        <a href="/users/{{creator_id}}">{{creator_nick_name}}:</a>
        <span>{{content}}</span>
      </p>
      <div class="area-turn-text">
        <div id="msgBox">
          <form accept-charset="UTF-8" action="/posts/{{id}}/recommend" method="post">
            <input name="authenticity_token" type="hidden" value="">
            <div class="countTxt_block"><span class="countTxt">还能输入</span><strong class="maxNum">140</strong><span>个字</span></div>
            <div class="conBoxwidth1">
              <textarea class="f-text" id="recommend_content" name="recommendation"></textarea>
            </div>
            <div class="sendBtn_tr_width1">
              <div class="sendBtn_tr">
                <div class="sendBtn_tr_R">
                  <div class="sendBtn_tr_R">
                    <span class="emotion"><a href="#">表情</a></span>
                    <input name="commit" type="submit" value="发 布" />
                    <input class="cancelBtn" type="button" value="取 消" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>