<div class="item_Container post-item" post_id={{id}} creator_id={{creator_id}} creator_name={{creator_nick_name}}>
  <div class="item item_GR">
    <div class="item_GR_top">
      <div class="item_GR_top_tx_kuang">
        <div class="radius3px item_GR_top_tx top_txvip">
          <img src="{{creator_avatar}}" width="48" height="48">
        </div>
      </div>
      <div class="item_GR_sns_release_data_top_r">
        <div class="item_GR_sns_release_data_top_dj">
          <span class="item_GR_top_dj_id">
            <a class="snshideid" href="/users/{{creator_id}}">{{creator_nick_name}}</a>
            <div class="snsshowid">
              <p><a href="javascript:void(0);" class="tipoff" detail_type="Account" detail_id={{creator_id}}>举报</a></p>
            </div>
          </span>
        </div>
        <div class="item_GR_sns_release_data_top_cj">
          <span class="item_GR_top_dj_dj">
            <a href="javascript:void(0);" target="_blank">Lv {{creator_level}}</a>
          </span>
          <span class="item_GR_top_dj_dj_sj total-level">
            <i class="item_GR_top_dj_dj_sj_jdt level" level={{creator_level}}></i>
          </span>
        </div>
      </div>
    </div>
    <div class="article_cent">
      <div class="article_cent_text">
        <p class="post-content">{{content}}</p>
      </div>
      <div class="article_cent_text_xx">
        <span class="text_xx_time">{{created_at}}</span>
        <span class="text_xx_report">
          <a href="javascript:void(0);" class="tipoff" detail_type="Post" detail_id={{id}}>举报</a>
        </span>
      </div>
    </div>
    <div class="img_cent">
      <a href="#" target="_blank">
        {{#image_url}}
          <img src="{{image_url}}?imageView/2/w/326">
        {{/image_url}}
      </a>
    </div>
    <div class="article_cent_comment">
      <a class="article_cent_comment_up like-op" href="javascript:void(0);">
        <span class="like-count">{{like_count}}</span>
      </a>
      <a class="article_cent_comment_zhuan recommend-op" href="javascript:void(0);">
        <span class="recommend-count">{{recommend_count}}</span>
      </a>
      <a class="article_cent_comment_huifu up1 comment-op" href="javascript:void(0);">
        <span class="comment-count">{{comment_count}}</span>
      </a>
    </div>
  </div>
  <div class="up_mian comments-block">
    <div class="up_mian_bj"></div>
    <div class="up_mian_con">
      <div class="up_mian_con_input">
        <div class="up_mian_con_input_center">
          <form accept-charset="UTF-8" action="/posts/{{id}}/comments" method="post">
            <input name="authenticity_token" type="hidden" value="">
            <span class="reply-name"></span>
            <textarea name="comment[comment]" class="up_mian_con_input_style"></textarea>
            <input name="original_id" type="hidden" value="">
            <span><a class="up_mian_con_buttonQ up1 cancel">取消</a></span>
            <span><input name="commit" type="submit" value="评论" class="up_mian_con_buttonE" /></span>
          </form>
        </div>
        <div class="comments">
        </div>
      </div>
    </div>
  </div>
</div>
