-content_for :sidebar do
  = link_to Admin::DownloadServer.model_name.human, admin_download_servers_path, class: "list-group-item active"
  = link_to t('admin.titles.servers.new'), new_admin_download_server_path, class: "list-group-item"