=render 'nav'

-content_for :content do
  =search_form_for([:admin, @q], url: admin_games_path, class: 'form-inline') do |f|
    .form-group>
      =f.text_field(:game_title_cont, placeholder: Game.human_attribute_name(:title), class: 'form-control')
    .form-group>
      =f.text_field(:game_alias_name_cont, placeholder: Game.human_attribute_name(:alias_name), class: 'form-control') 

    - status_arr = GameFile.human_attribute_name(:status_arr)
    .form-group>
      =f.select(:status_eq, status_arr.map{|s| [s, status_arr.index(s)]}, {include_blank: GameFile.human_attribute_name(:status)}, class: 'form-control')
    br
    br
    .form-group>
      #start_time.date.datetime.input-group
        =f.text_field(:created_at_gteq, placeholder: "start time", class: 'form-control')
        span.input-group-addon.add-on.glyphicon.glyphicon-calendar
    .form-group>
      #end_time.input-group.date.datetime
        =f.text_field(:created_at_lteq, placeholder: "end time", class: 'form-control')
        span.input-group-addon.add-on.glyphicon.glyphicon-calendar
    =f.submit(class: 'btn btn-default')
  br
  ul#my_tab.nav.nav-tabs
    li.active
      =link_to(t('admin.game_file.releasing_or_released'), '#released')
    li
      =link_to(t('admin.game_file.unrelease'), '#unrelease')

  .tab-content
    #released.tab-pane
      =render 'released'
      =paginate @games
    #unrelease.tab-pane
      =render 'unrelease'
      =paginate @not_released_games, param_name: :un_release_page
-content_for(:js_files) do
  javascript:
    $(document).ready(function(){
      $("#start_time").datetimepicker();
      $("#end_time").datetimepicker();
    })

    $("#released a").tab('show');
    $('#my_tab a').click(function(e){
      e.preventDefault();
      $(this).tab('show')
    })

