<div class="item_GR_top">
<div class="item_GR_top_tx_kuang">
<div class="radius3px item_GR_top_tx top_txvip"><img src={{creator.avatar}} width="60" height="60">
</div>
</div>
<div class="item_GR_sns_release_data_top_r">
<div class="item_GR_sns_release_data_top_dj"><span class="item_GR_top_dj_id"><a class="snshideid">{{creator.nick_name}}2</a>
<div class="snsshowid">
<p><a href="#">举报</a></p>
<p><a href="#">举报</a></p>
<p><a href="#">举报</a></p>
<p><a href="#">举报</a></p>
</div>
</span></div>
<div class="item_GR_sns_release_data_top_cj"> <span class="item_GR_top_dj_dj"><a href="#" target="_blank">Lv {{creator.level}}</a></span> <span class="item_GR_top_dj_dj_sj"><i class="item_GR_top_dj_dj_sj_jdt"></i></span> </div>
</div>
</div>
