<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
<title>我的相册</title>
<meta name="keywords" content="好玩的单机游戏,单机游戏大全,单机游戏下载,杉果游戏" />
<meta name="description" content="杉果游戏，单机游戏下载大全,PC游戏,好玩的大型单机游戏,国内首家正版游戏数字商城" />
<meta name="author" content="杉果游戏注册页">
<link href="css/reset.css" rel="stylesheet">
<link href="css/personal.css" rel="stylesheet">
</head>
<body>
<!--个人中心头部导航样式部分logo 样式通出-->
<div class="citic_topNav">
  <div class="citic_topNav_head">
    <ul>
      <li><a href="#" target="_blank">欢迎页</a></li>
      <li><a href="#" target="_blank">商城</a></li>
      <li><a href="#" target="_blank">社区</a></li>
      <li><a href="#" target="_blank">论坛</a></li>
      <li><a href="#" target="_blank">客户端</a></li>
    </ul>
  </div>
</div>
<div class="citic_topLogo">
  <div class="citic_topLogo_head">
    <div class="citic_topLogo_logo"><a href="#" target="_blank"><img src="images/logo.png" /></a></div>
    <div class="citic_topLogo_login">
      <div class="fl personal_style rs3"><a href="#"><img src="images/img/sns_tx.png"></a></div>
      <span class="fl personal_style_tx_id" id="info"><a href="#" target="_blank">Path D</a></span> <span class="fl personal_style_tx_tuichu"><a href="#">退出</a></span> </div>
  </div>
</div>
</div>
<!--个人中心头部导航样式部分logo 样式通出 结束-->
<div class="personal_container">
  <!--个人中心内容区域-->
  <div class="personal_area">
    <div class="personal_L_nav">
      <ul class="nav_tx">
        <li> <span class="nav_tx_img"><img src="images/img/tx.png" /></span> <span class="nav_tx_name">我是名字我怕谁</span> <span class="nav_tx_text">欢迎光临！</span> </li>
      </ul>
      <ul class="nav_orders">
        <li><a href="#">我的资产<i class="badge">3</i></a></li>
        <li><a href="#">我的游戏<i class="badge">3</i></a></li>
      </ul>
      <ul class="nav_orders">
        <li><a href="#">我的信息<i class="badge">3</i></a></li>
        <li><a href="#">我的私信<i class="badge">3</i></a></li>
        <li><a href="#">我的相册<i class="badge">3</i></a></li>
      </ul>
      <ul class="nav_orders">
        <li><a href="#">账号管理<i class="badge">3</i></a></li>
        <li><a href="#">推广员<i class="badge">3</i></a></li>
      </ul>
    </div>
    <!--个人中心右侧内容-->
    <div class="personal_R">
      <div class="personal_R_detail">
        <div class="my-assets">
          <div class="top_explanation">
		  	<span class="fl">
            <h3 class="explanation_h3 fl">发送私信</h3>
			</span>
			<span class="fr"><a href="#" class="album-bn rs3">添加图片</a></span>
            </div>
          <div class="my-album">
		  	 <ul class="my-album-detail">
				<li><img src="images/img/album_tu.png" /></li>
				<li><img src="images/img/album_tu.png" /></li>
				<li><img src="images/img/album_tu.png" /></li>
				<li><img src="images/img/album_tu.png" /></li>
				<li><img src="images/img/album_tu.png" /></li>
				<li><img src="images/img/album_tu.png" /></li>
				<li><img src="images/img/album_tu.png" /></li>
			 </ul>
			 <div class="next-page"> <a href="#?page=#"><img src="images/img/page.png" /></a> <a href="#?page=1">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> <a href="#?page=6">6</a> <a href="#?page=7">7</a> ... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=#"><img src="images/img/Next.png" /></a>
          <input name="" type="text" class="width-30" />
          <a href="#">确定</a> </div>
		  </div>
        </div>
        
      </div>
    </div>
	
    <!--个人中心右侧内容  END-->
  </div>
  <!--个人中心内容区域  结束-->
</div>
</body>
</html>
