.SK-grid {
    display: block;
    .SK-grid-left {
        display: block;
        float: left;
    }
    .SK-grid-right {
        display: block;
        float: right;
    }
    &:after {
        content: "";
        clear: both;
    }
}