.SK-content-communities {
  padding-top: 10px;
  height: 196px;
}

.SK-content-community-header {
  margin-top: 10px; 
  padding: 0px 20px;
  height: 30px;
}

.SK-content-community-header h3 {
  float: left;
}

.SK-content-community-header a {
  float: right;
}

.SK-content-community-thumbs {
  padding: 0px 55px;
  background-color: $gray;
  height: 119px;
}

.elastislide-list li {
  opacity: 0.6;
}

.elastislide-list li:hover, .elastislide-list .current-img {
  opacity: 1;
}

.SK-content-community-detail h3 {
  font-size: 20px;
  font-weight: bold;
}

.SK-community-title {
  margin: 10px 30px;
}

.SK-community-rank {
  text-align: center;
  margin: 30px 0;
  height: 29px;
}
