.group-hovercard {
  border: 1px solid #888888;
  border-radius: 2px;
  box-shadow: 0 0 6px 1px rgba(0,0,0,.4);
  margin: 7px;
  overflow: hidden;
}

.group-hovercard > .group-inner {  
  border:solid 2px #ddd;
  background-color: #fef7e4;
  padding: 2px;
  overflow: hidden;
}

.group-hovercard > .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: solid 8px transparent;
}

.group-info > p {
  overflow: hidden;
  font-size: 11px;
  margin: 8px;
}

.group-info span {
  font-weight: bold;
}

p.group-name {
  color: #b87100;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}


