.SK-image-container {
    margin: 10px auto;
    text-align: center;
}

.SK-container-left {
    .SK-nav-stacked {
        width: $body-left-width;
    }
}

.SK-post-card {
    .SK-form {
        .SK-form-control {
            padding: 5px 6px;
            font-size: 12px!important;
            line-height: 16px!important;
        }
    }
}