.qiniu-image-upload {
    position: relative;
    width: 100px;
    height: 100px;
}
.qiniu-image-upload .qiniu-upload-image-edit-button {
    cursor: pointer;
    display: none;
    background: #000;
    text-align: center;
    text-indent: 0;
    height: 25px;
    width: 100%;
    color: #fff;
    line-height: 25px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.qiniu-image-upload .qiniu-image-upload-loading {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.qiniu-image-upload .qiniu-image-upload-loading img {
    position: absolute;
    left: 34px;
    top: 34px;
}
.qiniu-image-upload .image-gray {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.qiniu-image-upload .image-light {
    filter: none;
    -webkit-filter: grayscale(0);
    opacity: 1;
}