@import 'colors';
@import 'misc';
@import 'mixins';
@import 'media-box';
@import 'index';

.SK-container {
    @include box-shadow(0, 1px, 1px, rgba(0,0,0,0.5));
    margin: 0 auto;
    width: $body-width;
}

.SK-container-left {
    background-color: $background-dark-gray;
    float: left;
    min-height: $body-height;
    width: $body-left-width;
}

.SK-container-right {
    background-color: $background-white;
    margin-left: $body-left-width;
    min-height: $body-height;
    width: $body-right-width;
    .SK-container-right-left {
        float: left;
        min-height: $body-height;
        padding: 15px 0px 0px 20px;
        width: $body-right-left-width;
    }
    .SK-container-right-right {
        margin-left: $body-right-left-width;
        min-height: $body-height;
        padding: 15px 20px 0px 10px;
        width: $body-right-right-width;
    }
    .SK-container-block {
        display: block;
    }
    &:after {
        content: "";
        clear: both;
    }
}

.SK-profile-card {
    padding: 4%;
    width: 92%;
}

.SK-triangle-indicate {
    &>li.active {
        &>a:after {
            border: 20px solid transparent;
            border-right-color: $white;
            content: "";
            height: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
        }
    }
}
