@import 'colors';
@import 'misc';
@import 'mixins';
@import 'media-box';
@import 'index';

.SK-container {
    @include box-shadow(0, 1px, 1px, rgba(0,0,0,0.5));
    margin: 0 auto;
    width: $body-width;
}

.SK-container-left {
    background-color: $background-dark-gray;
    float: left;
    min-height: $body-height;
    width: $body-left-width;
}

.SK-container-right {
    background-color: $background-white;
    margin-left: 20%;
    min-height: $body-height;
    width: $body-right-width;
}

.SK-profile-card {
    padding: 8px;
    height: 169px;
}

.SK-profile-card a {
  display: inline-block;
  width: 180px;
}

a.SK-account-name { 
  font-size: 16px;
  height: 40px;
  line-height: 40px; 
}

a.SK-account-edit {
  font-size: 10px;
  height: 30px;
  line-height: 30px;
}

.SK-avatar {
  height: 54px;
  margin: 2px auto;
}
